.type-layout {
  display: flex;
  //height: 100%;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;

  h3 {
    padding-left: 12px;
    font-size: 12px;
    color: var(--todo-text-gray2);
  }

  .menu-item-layout {
    height: var(--todo-menu-height);
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 6px;
    border: 2px solid transparent;
    // 保证比indicator高，这样拖拽的时候就看不到indicator了
    z-index: 100;

    & > .circle {
      height: 24px;
      width: 24px;
      margin: 0 8px 0 16px;
    }

    & > input {
      flex: 1;
      outline: 2px solid #7aa7e5;;
      border: none;
      border-radius: 2px;
      height: 1em;
      font-size: 14px;
      color: var(--todo-black1);
    }

    .name {
      font-size: 14px;
      color: var(--todo-black1);
      flex: 1;
    }

    .count {
      font-size: 12px;
      color: var(--todo-text-gray2);
      margin-left: 10px;
      margin-right: 12px;
    }

    &.item-selected {
      background-color: var(--todo-bg-blue-selected);

      .name {
        color: white;
      }

      .count {
        color: #88c1fa;
      }
    }

    // 右键选中状态
    &.status-active {
      border-color: #105dca;
    }

    &.item-selected.status-active {
      border-color: white;
    }
  }

  .indicator-item {
    position: relative;

    .indicator {
      position: absolute;
      bottom: -4px;
      left: 16px;
      display: flex;
      align-items: center;
      width: 100%;
      height: 6px;

      .indicator-circle {
        width: 8px;
        height: 8px;
        border: 2px solid blue;
        border-radius: 50%;
      }

      .indicator-line {
        height: 2px;
        background-color: blue;
        flex: 1;
        margin-right: 8px;
      }
    }
  }
}
